
.content{
    display: flex;
}
.leftItems{

    font-size: 48px;
    color: #2D3361;
    width: 85.52%;
    display: flex;
    font-family: 'Unbounded', sans-serif;


}
.items{

    display: flex;
    margin-left: 5.21%;
    flex-direction: column;


}
.itemsRight{
    width: 53.96%;
    display: flex;
    margin-left: 42px;
    flex-direction: column;
}


.descriptions{
    margin-top: 25px;
    width: 90.54%;
    margin-bottom: 33px;

    font-family: Unbounded-Light, sans-serif;

    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    left: 0;
    letter-spacing: -0.198px;
    line-height: 180%;

    top: 0;


}
.descriptionsRight{
    font-family: Unbounded-Light, sans-serif;
    margin-top: 385px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    left: 0;
    letter-spacing: -0.198px;
    line-height: 180%;
}

.icon{

    width: 1036px;
    height: 504px;
    background: url('/src/images/rectangle-14.jpg'), lightgray 50% / cover no-repeat;
    border-radius: 60px;

}
.itemContent{

    display: flex;

}

.rightItems{

}

.reusableItem{
    margin-top: 79px;
    font-size: 20px;
    display: flex;
}