.title{
    font-size: 48px;
    font-family: "Unbounded-Regular";
    color: #2D3361;
}
.description{
    font-family: "Unbounded-Light";
    font-size: 18px;
    margin-top: 40px;
    color: #2D3361;
}
