.title{
    display: flex;
    margin-left: 5.21%;
    margin-bottom: 56px;
    padding-top: 198px;
    color: #2D3361;

}

.titleContent{
    display: flex;
    justify-content: space-between;
    width: 78.54%;
    font-size: 18px;
    align-items: center;
    font-family: "Unbounded-Light";
}
.bigTitle{
    font-size: 48px;
    font-family: "Unbounded-Regular";
}
.carousel{
 margin-left: 5.21%;
}