.container{
    display: flex;
    height: 48px;
}

.passwordField{
    background: #E9EEFF;
    height: 100%;
    font-family: Roboto;
    border: none;
    width: 319px;
    font-size: 20px;
    font-style: normal;
    padding-block: 0px;
    padding-inline: 0px;
    padding-inline-start: 10px;
    border-radius: 3px 0px 0px 3px;
}
.visiblePasswordButton{
    display: flex;
    align-items: center;
    width: 35px;
    height: 100%;
    background: #E9EEFF;
    border-radius: 0px 3px 3px 0px;
    /*padding-right: 14px;*/
    border: none;
    padding-inline-start: 0px;
    padding-inline-end: 14px;
    cursor: pointer;
}