.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

}

.section{
    overflow: hidden;
    height: auto;
    scroll-snap-align: start;
}
.par{
    overflow-x: hidden;
}

.gradient {
    border-radius: 20px;
    width: 6px;
    height: 423px;

    background: linear-gradient(to bottom, #909AC1, #D1D8F4);
    /* Інші стилі, які вам потрібні */
}
