.frame{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height:100%;
}
.row{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    gap: 11.63%;;
    margin-bottom: 36px;
}
.label {
    height: fit-content;
    display: flex;



}

.textWrapper {
    color: #F2F5FF;
    font-family: Unbounded-Regular, serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -0.71px;
    line-height: 120%;
    text-transform: uppercase;
    font-style: normal;
    white-space: nowrap;
}
@media (max-width: 1670px) {
    .textWrapper{
        white-space: normal;
    }
}

.label2 {
    height: fit-content;
    display: flex;
    width: fit-content;

}

.textWrapper2 {
    color: #8C96C1;
    font-family: Unbounded-Regular, serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -0.71px;
    line-height: 120%;
    text-transform: uppercase;
    font-style: normal;
}
.box {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background: #D4D8FF;
    border-radius:60px;
    left: 0;
    align-items: flex-start;
    flex-grow: 1;
    box-sizing: border-box;
    flex-direction: column;
}

.label3{
    position: relative;
    margin-top: 65px;
    margin-left: 65px;
    width: 37.62%;
    height: fit-content;
}
.discription{
    color: #2D3361;
    font-family: Unbounded-Light, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.264px;
}
.viewMore{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}