.title{
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
    padding-top: 198px;
}

.titleContent{
    display: flex;
    justify-content: space-between;
    width: 78.54%;
    font-size: 18px;
    align-items: center;
}
.bigTitle{
    font-size: 48px;
}