.box {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    max-width: 1920px;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 205px;
}
.header{
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
}
.label {
    height: fit-content;
    display: flex;
    width: fit-content;
    margin-left: 5.21%;
    margin-bottom: 38px;
}

.textWrapper {
    color: #2D3361;
    font-family: Unbounded-Regular, serif;
    font-size:48px;
    font-weight: 400;
    letter-spacing: -0.71px;
    line-height: 120%;
    text-transform: uppercase;
    font-style: normal;
}

.row{
    position: relative;
    flex-direction: row;
    display: flex;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 353px;
}

.image{
    margin-left: 5.21%;
    position: relative;
    flex-grow: 1;
    height:auto;
    max-width: 61.72%;
    box-sizing: border-box;
}


.frameGif {
    position: relative;
    border-radius: 60px;
    background-color: #D4D8FF;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 996px;
    max-height: 642px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.text {
    position: relative;
    display: flex;
    width: 22.35%;
}
.textContent{
    margin-top: 26px;
    margin-left: 4.63%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.label2 {
    height: fit-content;
    display: flex;
    margin-top: 25px;
    margin-left: 37px;
    margin-bottom: 225px;
    box-sizing: border-box;
}

.description{
    color: #2D3361;
    font-family: Unbounded-Light, serif;
    font-size: 24px;
    letter-spacing: -0.264px;
    font-style: normal;
    line-height: 150%;
    margin: 0;
}

.textFooter{
    margin-left: -9px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.left{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 42px;
    width: fit-content;
    box-sizing: border-box;
    gap: 5px;
}
.label3{
    display: flex;
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
}
.textWrapper3{
    color: #5D638C;
    font-family: Unbounded-Regular, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    margin: 0;
}

.right{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    flex-grow: 1;
}
.date{
    display: flex;
    position: relative;
    height: fit-content;
    align-items: flex-end;
}
.dateText{
    color: #8C96C1;
    font-family: Unbounded-Regular, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    margin: 0;
}

.scroll{
    width: 15.93%;
    height: auto;
}


