.all{

    display: flex;
    flex-direction: column;



}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 78.54%;
    font-size: 18px;
    margin-top: 62px;
    align-items: center;
    padding-bottom: 314px;
}
.bigTitle{
    font-size: 48px;
}
.carosel{
    overflow: hidden;
    width: 78.54%;
    position: relative;
}
.leftGradient{
    position: absolute;
    background: linear-gradient(to right, #F2F5FF, rgba(255, 255, 255, 0));
    z-index: 2;
    width: 300px;
    height: 610px;
}
.caroselItems{
    z-index: 1;
}
.rightGradient{
    position: absolute;
    background: linear-gradient(to left, #F2F5FF, rgba(255, 255, 255, 0));
    z-index: 2;
    width: 300px;
    height: 610px;
    right: 0px;
}

