
.title{
    display: flex;
    width: 78.54%;
    flex-direction: column;
}
.titleContent{
    display: flex;
    font-size: 48px;

    font-weight: 400;
    font-style: normal;
}
.titleText{
    display: flex;
    font-size: 16px;
    color: #9FA7C7;
    align-items: end;
    width: 47.76%;


    margin-left: 24px;
    justify-content: space-between;
}
