
.component {
    /*margin-top: 14px;*/
    /*padding-top: 14px;*/
    margin-left: 5.21%;
    height: 76px;
    position: relative;
    width: 89.73%;
    z-index: 10;
}

.overlapGroup {
    background: linear-gradient(93deg, rgba(243, 243, 253, 0.40) -12.78%, rgba(243, 243, 253, 0.08) 120.45%);
    border-radius: 50px;
    margin-top: 14px;
    box-shadow: 0 6px 13px -1px rgba(173, 183, 198, 0.30);
    height: auto;
    left: 0;
    position: relative;
    top: 1px;
    width:69.53%;
    display: flex;
    flex-direction: column;
}
.overlapGroupFrame{
    height: 75px;
    position: relative;
    width:100%;
    display: flex;
}
.div {
    align-items: flex-start;
    display: flex;
    gap:48.34%;
    height: 22px;
    left: 2.75%;
    position: relative;
    top: 26px;
    width: 94.4%;
    flex-shrink: 0;
}

.textWrapper2 {
    color: #4E516C;
    font-family: "PP Neue Machina-InktrapUltrabold", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: -0.22px;
    text-transform: uppercase;

    width: 102px;
    height: 21px;
    flex-shrink: 0;
}

.component .frame2 {
    align-items: flex-start;
    display: flex;
    gap: 13.63%;
    height: 22px;
    width: 44.12%;
}

.line{
    height: 2px;
    background-color: #B8BFDA;
}
.dropdownMenu{
    height: 410px;
    display: flex;
    position: relative;
    backdrop-filter: blur(20px);
    opacity: 1;
    flex-direction: column;
}


.dropdownFrame{
    top: 78px;
    left: 104px;
    align-items: flex-start;
    display: inline-flex;
    gap: 68px;
    position: relative;
    border-radius: 5px;
}
.dropdownMenuBlock{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;

}
.dropdownMenuImage{
    background-color: #F2F5FF;
    border-radius: 40px;
    height: 184px;
    position: relative;
    width: 184px;
    display: flex;
    transition: border-radius 0.3s ease;
}
.dropdownMenuImage:hover{
    border-radius: 5px;
}
.dropdownMenuText{
    color: #2D3361;
    font-family: Unbounded-Regular, serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.22px;

}





.component .overlap {
    -webkit-backdrop-filter: blur(40px) brightness(100%);
    backdrop-filter: blur(40px) brightness(100%);
    background: linear-gradient(93deg, rgba(243, 243, 253, 0.40) -12.78%, rgba(243, 243, 253, 0.08) 120.45%);
    border-radius: 50px;
    box-shadow: 0 6px 13px -1px #adb6c54c;
    height: 75px;
    left: 71.85%;
    position: absolute;
    top: 0;
    width: 28.14%;
}

.component .frame3 {
    align-items: center;
    display: flex;
    gap: 7.56%;
    height: 68px;
    left: 8.247%;
    position: relative;
    top: 3px;
    width: 87.21%;
}

.component .ENG {
    color: transparent;
    font-family: "Unbounded-Light", Helvetica;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 150%;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.component .span {
    color: #8b95c1;
}

.component .textWrapper4 {
    color: #2d3361;
}

.component .textWrapper5 {
    color: #2D3361;
    font-family: "Unbounded-Light", Helvetica;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 150%;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}


