
.component {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    margin-left: 5.21%;
    margin-right: 5.21%;
    height: 76px;
    position: relative;
    width: 89.58%;
    z-index: 10;
}

.component a{
    text-decoration-line: none;
}

.overlapGroup {
    background: linear-gradient(93deg, rgba(243, 243, 253, 0.40) -12.78%, rgba(243, 243, 253, 0.08) 120.45%);
    border-radius: 50px;
    box-shadow: 0 6px 13px -1px rgba(173, 183, 198, 0.30);
    height: 76px;
    margin-left: 0;
    position: relative;
    width:69.53%;
    display: flex;
    flex-direction: column;
}
.overlapGroupFrame{
    height: 100%;
    position: relative;
    width:100%;
    display: flex;
}
.div {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    position: relative;
    margin-top: 26px;
    width: 94.42%;
    flex-shrink: 0;
    margin-right: 2.83%;
    margin-left: 2.75%;
}

.logo {
   /* color: #4E516C;
    font-family: "PP Neue Machina-InktrapUltrabold", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: -0.22px;
    text-transform: uppercase;

    width: 102px;*/
    /*margin-right: 33px;*/
    /*flex-shrink: 0;*/
}

.frame2 {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 44.12%;
}

.line{
    height: 2px;
    background-color: #B8BFDA;
}
.dropdownMenu{
    height: 410px;
    display: flex;
    position: relative;
    backdrop-filter: blur(20px);
    opacity: 1;
    flex-direction: column;
}


.dropdownFrame{
    top: 78px;
    align-items: flex-start;
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    border-radius: 5px;
}
.dropdownMenuBlock{
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;

}
.dropdownMenuImage{
    background-color: #F2F5FF;
    border-radius: 40px;
    height: 184px;
    position: relative;
    width: 184px;
    display: flex;
    transition: border-radius 0.3s ease;
}
.dropdownMenuImage:hover{
    border-radius: 5px;
}
.dropdownMenuText{
    color: #2D3361;
    font-family: Unbounded-Regular, serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.22px;

}





.overlap {
    display: flex;
    -webkit-backdrop-filter: blur(40px) brightness(100%);
    backdrop-filter: blur(40px) brightness(100%);
    background: linear-gradient(93deg, rgba(243, 243, 253, 0.40) -12.78%, rgba(243, 243, 253, 0.08) 120.45%);
    border-radius: 50px;
    box-shadow: 0 6px 13px -1px #adb6c54c;
    height: 75px;
    margin-left: 2.32%;
    position: relative;
    top: 0;
    width: 28.148%;
}

.frame3 {
    align-items: center;
    display: flex;
    gap: 7.56%;
    height: 68px;
    margin-left: 8.247%;
    position: relative;
    margin-top: 3px;
}

.ENG {
    color: transparent;
    font-family: "Unbounded-Light", Helvetica, serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 150%;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    margin: 0;
    padding: 0;
}

.span {
    color: #8b95c1;
}

.textWrapper4 {
    color: #2d3361;
}

.textWrapper5 {
    color: #2D3361;
    font-family: "Unbounded-Light", Helvetica, serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 150%;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}


