.itemContent{
    margin-left: 5.2083%;
    display: flex;
}
.item1{
    border-right: 2px solid #8C96C1;
    height: 214px;
    display: flex;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 60px;
}
.item2{
    border-top: 2px solid #8C96C1;
    border-right: 2px solid #8C96C1;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.downItem{
    border-right: 2px solid #8C96C1;
    height: 214px;
    display: flex;
    border-top: 2px solid #8C96C1;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    border-bottom-left-radius: 60px;
}


.item2Content{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    text-align:left;
}
.titleText{
    margin-top: 48px;
    font-size: 24px;
    font-family: "Unbounded-Light";
}
.text2Item2{

    font-size: 18px;
    width: 98.54%;
    height: 135px;

}

.icon{
    width: 432px;
    height: 411px;
    background: #D4D8FF;
    border-radius: 60px;
}
.descriptionUl{
    margin-top: 20px;
}

.rightItems{

}
.iconMarg{
    margin-right: 5.26%;
}