.box {
    display: flex;
    position: static;
    width: 100%;
    max-width: 1920px;
}
@media (max-width: 768px) {
    .box {
        max-width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .box {
        max-width: 100%;
    }
}

.rectangle {
    background: linear-gradient(95deg, #A0A9C1 14.72%, #E0E3FF 103.96%);
    border-radius: 0 0 60px 60px;
    height: 1365px;
    left: 0;
    top: 0;
    width: 100%;
    align-items: flex-start;
    position: static;
    flex-direction: column;
    display: flex;
}

.path{
    position: relative;
    display: flex;
    top: 37px;
    left: 5.21%;
}

/*////////////Path component//////////*/

.frame{
    align-items: flex-start;
    display: inline-flex;
    gap: 6px;
    position: absolute;
}

.textWrapper{
    color: #D1D8F4;
    font-family: Unbounded-Regular, serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.154px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
.vector {
    position: relative;

}
.div{
    color: #D1D8F4;
    font-family: Unbounded-Medium, serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.154px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

/*////////////////////////*/



.teamOrService{
    position: relative;
    left: 5.21%;
    top: 101px;
}
