

.usersListContainer{
    width: 81.4%;
    height: 896px;
    margin: 12px 1.82% 0px 10px;
    background: #FFF;
}
.addVisit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #546EF8;
    padding-top: 27px;
    padding-left: 15px;
    padding-bottom: 27px;

}