.box {
    height: auto;
    width: 100%;
    max-width: 1920px;
}
@media (max-width: 768px) {
    .box {
        max-width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .box {
        max-width: 100%;
    }
}

.box .rectangle {
    background: linear-gradient(95deg, #A0A9C1 14.72%, #E0E3FF 103.96%);
    border-radius: 0 0 60px 60px;
    height: 980px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: flex-start;
}

.label {
    height: 154px;
    width: 49.32%;
    top: 142px;
    left: 5.21%;
    position: fixed;
}

.label .textWrapper {
    color: #F2F5FF;
    font-family: Unbounded-Regular;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -0.71px;
    line-height: 120%;
    position: fixed;
    text-transform: uppercase;
    font-style: normal;
}

.description{
    color: #F2F5FF;
    font-family: Unbounded-ExtraLight;
    font-size: 24px;
    font-style: normal;
    line-height: 36px;
    margin: 0;
}
.label2 {
    position: fixed;
    left: 5.21%;
    top: 322px;
    width: 20%;
}

.frame {
    color: #F2F5FF;
    align-items: flex-start;
    display: inline-flex;
    position: fixed;
    top: 676px;
    left: 5.21%;
    gap: -6px;
}
.frame .vector {
    position: relative;
    height: 212px;
    margin-right: -19px;
}

.frame .textWrapper {
    font-family: Unbounded-Regular;
    font-size: 18px;
    height: 20px;
    letter-spacing: 0;
    line-height: 27px;
    transform: rotate(90deg);
    white-space: nowrap;
    width: 208px;
    margin-left: -83px;
    margin-right: -94px;
    margin-top: 93px;

}

.frameGif {
    position: fixed;
    top: 605px;
    left: 50.93%;

}
.gif {
    color: #E1E4FF;
    font-family: "PP Neue Machina-InktrapUltrabold";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: -0.704px;
    text-transform: uppercase;
}
