.container{
    display:flex;
    margin-left:1700px;
}
.containerContent{
    display:flex;
    font-family:"Unbounded-Light";
    font-size:14px;
    flex-direction:column;
    color:#8C96C1;
    justify-content:space-between;
    margin-right:19px;
    align-items:end;

}
.gradient {
    border-radius: 20px;
    width: 6px;
    height: 423px;
    background: linear-gradient(to bottom, #909AC1, #D1D8F4);

}
