.box {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    max-width: 1920px;
    align-items: flex-start;
    flex-direction: column;
}


.row{
    position: relative;
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-top: 203px;
    margin-bottom: 239px;
}

.image{
    position: relative;
    flex-grow: 1;
    height:auto;
    max-width: 42.81%;
    box-sizing: border-box;
}


.frameGif {
    margin-left: 12.16%;
    margin-right: 9.49%;
    position: relative;
    border-radius: 60px;
    background-color: #D4D8FF;
    display: flex;
    max-width: 644px;
    max-height: 657px;
    height: 100%;
    box-sizing: border-box;
}

.text {
    position: relative;
    display: flex;
    width: 31%;
}
.textContent{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.header{
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
}
.label {
    height: fit-content;
    display: flex;
    width: fit-content;
    margin-bottom: 40px;
}

.textWrapper {
    color: #2D3361;
    font-family: Unbounded-Regular, serif;
    font-size:48px;
    font-weight: 400;
    letter-spacing: -0.71px;
    line-height: 120%;
    text-transform: uppercase;
    font-style: normal;
}

.parag{
    width: 100%;
    height: fit-content;
    display: flex;
    position: relative;
    margin-bottom: 261px;
    flex-direction: column;
    row-gap: 20px;
}

.label2 {
    position: relative;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    max-width: 595px;
}

.description{
    color: #2D3361;
    font-family: Unbounded-Light, serif;
    font-size: 18px;
    font-style: normal;
    line-height: 180%;
    margin: 0;
}


.other{
    height: 72px;
}

.scroll{
    position: relative;
    width: 26.19%;
    height: auto;
}


