.App {
    cursor: none; /*cursor: (img) передати любий курсор транзішн можна юзати тут*/
    background: #F2F5FF;
    transition: all 0.5s ease-in-out;

}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

}

section{
    overflow: hidden;
    height: auto;
    scroll-snap-align: start;
}
.partnerSponsors{
    padding-bottom: 50px;
}