.box {
    display: flex;
    position: static;
    height: 1078px;
    width: 100%;
    max-width: 1920px;
}
@media (max-width: 768px) {
    .box {
        max-width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .box {
        max-width: 100%;
    }
}

.rectangle {
    background: linear-gradient(95deg, #A0A9C1 14.72%, #E0E3FF 103.96%);
    border-radius: 0 0 60px 60px;
    height: 1078px;
    left: 0;
    top: 0;
    width: 100%;
    align-items: flex-start;
    position: static;
    flex-direction: column;
    display: flex;
}
.text {
    width: 100%;
    top: 52px;

    position: relative;
    display: flex;
    flex-direction: column;
}

.label {
    height: fit-content;
    display: flex;
    width: fit-content;
    margin-left: 5.21%;
}

.textWrapper {
    color: #F2F5FF;
    font-family: Unbounded-Regular, serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -0.71px;
    line-height: 120%;
    text-transform: uppercase;
    font-style: normal;
    white-space: nowrap;
    margin-bottom: 26px;
}
@media (max-width: 768px) {
    .textWrapper {
        white-space: normal;
        margin-bottom: 20px;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .textWrapper {
        white-space: normal;
        margin-bottom: 20px;
    }
}



.label2 {
    display: flex;
    position: relative;
    width: 20%;
    margin-bottom: 67px;
    margin-left: 5.21%;
    height: auto;
}

.description{
    color: #2D3361;
    font-family: Unbounded-Light, serif;
    font-size: 24px;
    letter-spacing: -0.264px;
    font-style: normal;
    line-height: 150%;
    margin: 0;
}




.frame{
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 54px;
}
.frameGif {
    display: flex;
    position: relative;
    margin-right: 8.38%;
    box-sizing: border-box;

}
.gif {
    color: #E1E4FF;
    font-family: "PP Neue Machina-InktrapUltrabold", serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: -0.704px;
    text-transform: uppercase;
    white-space: nowrap;
}

.viewMore {
    margin-left: 5.21%;
    width: auto;
    position: relative;
}
